.developer {
    margin: 2%;
}

.developer h4 {
    font-family: Verdana, sans-serif;
    font-size: 18px;
}

.date {
    border: 1px solid black;
    padding: 15px;
    display: inline-block;
    cursor: pointer;
}